body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;

  min-height: 100vh;

  --content-padding: 0 200px;
}

.headerBackground {
  background-color: #0891b3;
  width: 100%;
  min-height: 77%;

  position: absolute;
  z-index: -1;
}

/* About me section */

.aboutMeSection {
  padding: var(--content-padding);
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.pitcureSection {
  position: relative;
  min-width: 40%;
}

.personalPicture {
  width: 100%;
  height: auto;
}

.name {
  position: absolute;
  bottom: 0%;
  left: 0%;

  color: white;
  font-size: 80px;

  min-width: 100%;
  text-align: center;
}

.aboutMeContent {
  background-color: white;
  height: 600px;

  padding: 40px 40px 40px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.aboutMeTitle {
  font-size: 50px;
  font-weight: bold;
}

.aboutMeDesc {
  font-size: 30px;
}

.socialMediaIcons {
  align-self: flex-end;
  font-size: 30px;

  display: flex;
  gap: 20px;
}

/* My work section */

.myWorkSection {
  padding: var(--content-padding);
  padding-bottom: 100px;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  flex: 1;
}

.workSectionTitle {
  font-size: xx-large;
  font-weight: bold;
}

.myWorkContent {
  --minProjectWidth: 315px;

  display: grid;
  grid-template:
    repeat(
      auto-fit,
      minmax(var(--minProjectWidth), calc(var(--minProjectWidth) * 2))
    )
    / repeat(
      auto-fit,
      minmax(var(--minProjectWidth), calc(var(--minProjectWidth) * 2))
    );

  justify-content: space-between;
  gap: 50px;
}

.project {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.projectScreenshot {
  max-height: 250px;
  width: 100%;
}

.screenshot {
  width: 100%;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
}

.projectName {
  font-size: large;
  font-weight: bold;
}

.projectLinks {
  font-size: large;
  display: flex;
  gap: 10px;
}

.projectInfo {
  box-sizing: border-box;
  padding: 20px;
  background-color: white;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Contact me section */
.contactMeSection {
  box-sizing: border-box;
  padding: var(--content-padding);

  background-color: #0891b3;
  flex: 1;
  min-width: 100%;
}

.contactMeContent {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contactInfoSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;

  font-size: x-large;
}

.officePicture {
  width: 500px;
}

.personalOfficeImg {
  width: 100%;
}

.contactMeTitle {
  font-size: xx-large;
  font-weight: bold;
}

.contactSocialMediaIcons {
  font-size: x-large;
  display: flex;
  gap: 10px;
}
